@font-face {
  font-family: 'Proxima Nova';
  src:url('file:///android_asset/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:url('file:///android_asset/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:url('file:///android_asset/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:url('file:///android_asset/Roboto-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  margin:0;
  padding:0;
}

html, body {
  background-color: #FFF;
  font-family: "Roboto", "Proxima Nova", serif;
  font-size: 1em;
  line-height: 1.4;
}

ul {
	margin: 20px;
}

article {
  padding: 35px 15px;
}

img {
  max-width: 100%;
  margin: 20px 0;
}

.meta {
  margin-top: 15px;
  color: #84898C;
}

article {

}

h1 {
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.35;
  margin-bottom: 15px;
}

hr {
  margin: 20px 0;
  height: 1px;
  background: #D0D0D0;
  border: 0;
}

h2, h3, h4, h5, h6 {
    margin: 20px 0;
}

p {
  margin: 20px 0;
  text-align: justify;
}